.article {
  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
    margin-bottom: 8px;
  }

  &__description {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    margin-bottom: 16px;

    @include desktop {
      width: 70%;
    }
  }

  &__picturies {
    margin-bottom: 16px;
  }
}
