@use '../utils/mixins';

.contact {
  @include grid;
  &__address {
    grid-column: 1 / -1;

    @include desktop {
      grid-column: 8 / 13;
    }
  }

  &__form {
    grid-column: 1 / -1;;
  }

  @include desktop {
    &__form {
      grid-column: 1 / 6;
      padding-bottom: 164px;
    }
  }
}
