.links {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-bottom: 32px;

  }

  &__link {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 22px; // Duży rozmiar z projektu
    line-height: 1;
    text-transform: uppercase;
    color: #1D1D1D;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
  }
}
