@use '../utils/mixins';

.logo {
  &__image {
    width: 130px;
    height: 38px;

    @include desktop {
      width: 187px;
      height: 56px;
    }

    @include tablet {
      width: 187px;
      height: 56px;
    }
  }
}
