@use '../utils/mixins.scss';

.picturies {
  @include grid;

  &__item {
    width: 100%;
    position: relative;
    padding-top: 100%;

      @include desktop {
      grid-column: span 6;
      padding-top: 320px;
    }

    &--small {
      @include desktop {
        grid-column: span 4;
      }
    }

    &--big {
      @include desktop {
        grid-column: span 8;
      }
    }
  }

  &__image {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
  }
}
